.forecast-detail {
	display: inline;
	float: right;
	width: 50%;
	text-align: center;
}

.forecast-detail p {
	text-align: left;
	font-size: 1em;
	margin-bottom: 0;
	width:auto;
}

.forecast-detail .wi {
	font-size: 6em;
}

.forecast-detail h2 {
	margin-bottom: 4%;
}

.detail-col {
	display:inline;
	float:left;
	width:auto;
	margin-left: 20%;
}

.wind-col {
	display:inline;
	float: right;
	margin-right: 25%;
}
