
.search-container {
	display: inline;
	position: relative;
	height: 100%;
}

.search-bar {
	width: 25%;
	display: inline;
}

.location-search {
	display: inline;	
}

.search-buttons {
	position: absolute;
	bottom: 0;
	display:inline;
	margin-bottom: 1%;
}

.location-search .location-submit {
	display: inline;
}
