.forecast-day-tab {
	display: inline;
	width: 12.5%;
	height: 10%;
	background-color: ;
	font-size: 1.5em;
}

.forecast-day-tab .wi {
	font-size: 3.5em;
	margin-top: 7%;
	margin-bottom: 7%;

}

.high {
	color: red;
}

.low {
	color: blue;
}
