.forecast-day-tab {
	display: inline;
	width: 12.5%;
	height: 7%;
	background-color: ;
	font-size: 1em;
}

.forecast-day-tab .wi {
	font-size: 3em;
	margin-top: 5%;
	margin-bottom: 5%;

}

.high {
	color: red;
}

.low {
	color: blue;

}

@media (max-height: 800px) {
	.forecast-day-tab .wi {
	font-size: 3em;
	margin-top: 5%;
	margin-bottom: 5%;

}
.forecast-day-tab {
	display: inline;
	width: 12.5%;
	height: 7%;
	background-color: ;
	font-size: .75em;
}

}
